week2/pipelines/nw_dev.json
{
    "name": "nw_dev",
    "objectId": "9a112c34-55fd-4b86-88f1-e7e875714800",
    "properties": {
        "activities": [
            {
                "name": "Ingest Northwind Data",
                "type": "TridentNotebook",
                "dependsOn": [],
                "policy": {
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "1719f1b2-6d2e-470e-abcf-758baeca396c",
                    "workspaceId": "e8176af3-4fa5-4868-ad48-6fc345585233",
                    "parameters": {
                        "nw_api_url": {
                            "value": {
                                "value": "@pipeline().parameters.nw_api_url",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "Get each nw table",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Ingest Northwind Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.raw_tables",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Convert nw jsonl files to delta",
                            "type": "TridentNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "df895618-49ed-4c7c-80ff-eb2dc86bcc57",
                                "workspaceId": "e8176af3-4fa5-4868-ad48-6fc345585233",
                                "parameters": {
                                    "table_name": {
                                        "value": {
                                            "value": "@item()",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "fabric_workspace": {
                                        "value": {
                                            "value": "@pipeline().parameters.fabric_workspace",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Lookup silver metadata",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Get each nw table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "LakehouseReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "dlthublh",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "e8176af3-4fa5-4868-ad48-6fc345585233",
                                    "artifactId": "a23858b2-7a2b-47f5-b506-6f0ddca2f788",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "DelimitedText",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "fileName": "silver_transform_metadata.csv",
                                "folderPath": "northwind_metadata/metadata/silver"
                            },
                            "columnDelimiter": ",",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true,
                            "quoteChar": "\""
                        },
                        "schema": []
                    }
                }
            },
            {
                "name": "Iterate through metadata array",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup silver metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup silver metadata').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Transformation nw silver",
                            "type": "TridentNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "92db89fa-44ed-4475-a4bc-41bdd25fc844",
                                "workspaceId": "e8176af3-4fa5-4868-ad48-6fc345585233",
                                "parameters": {
                                    "root_path": {
                                        "value": {
                                            "value": "@item().root_path",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "file_path": {
                                        "value": {
                                            "value": "@item().file_path",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "table_name": {
                                        "value": {
                                            "value": "@item().table_name",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "fabric_workspace": {
                                        "value": {
                                            "value": "@item().fabric_workspace",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "sql_catalog_path": {
                                        "value": {
                                            "value": "@item().sql_catalog_path",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "lakehouse_name": {
                                        "value": {
                                            "value": "@item().lakehouse_name",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "nw_api_url": {
                "type": "string",
                "defaultValue": "https://demodata.grapecity.com/"
            },
            "raw_tables": {
                "type": "array",
                "defaultValue": [
                    "raw__northwind__categories",
                    "raw__northwind__category_details",
                    "raw__northwind__customers",
                    "raw__northwind__employees",
                    "raw__northwind__employee_territories",
                    "raw__northwind__order_details",
                    "raw__northwind__orders",
                    "raw__northwind__products",
                    "raw__northwind__regions",
                    "raw__northwind__shippers",
                    "raw__northwind__suppliers",
                    "raw__northwind__territories"
                ]
            },
            "fabric_workspace": {
                "type": "string",
                "defaultValue": "fabric_dev"
            }
        },
        "variables": {
            "table_name": {
                "type": "String"
            }
        },
        "lastModifiedByObjectId": "3c132713-13c5-485f-8c61-e71dfc6d3ebf",
        "lastPublishTime": "2025-02-08T15:43:53Z"
    }
}